body {
    font-family: Arial, sans-seri;
    background-color: #f4f4f4e1;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #1d3557;
}

.site_header {
    background-color: burlywood;
    padding: 20px;
    border-radius: 10px;
}