body {
    font-family: Arial, sans-seri;
    background-color: #f4f4f4e1;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #1d3557;
}

.site_header {
    background-color: wheat;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0.1)
}

.menu-nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #1d574f;
    font-weight:  bold;
}

